html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #1a1a1a;
  color: white;
  font-family: 'Orbitron', sans-serif;
}

#root {
  height: 100%;
}

.image-style {
  width: 150px;
  height: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  object-fit: cover;  /* Ensures the image covers the area without distortion */
}

.flip-emoji {
  display: inline-block;
  transform: scaleX(-1); /* Flips the emoji horizontally */
}