.App {
  text-align: center;
}


.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.image-style {
  width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
  object-fit: cover;  /* Ensures the image covers the area without distortion */
}
.found-hero-heading {
  color: #4CAF50;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: color 0.5s ease-in-out, transform 0.5s ease;
  transform: scale(1);
  padding: 0 20px;

  /* Mobile-first font size */
  font-size: 2rem;

  margin: 10px; /* Adjust as needed */
}

/* For tablet-sized screens and above */
@media (min-width: 600px) {
  .found-hero-heading {
    font-size: 2rem;
  }
}

/* For desktop-sized screens */
@media (min-width: 1024px) {
  .found-hero-heading {
    font-size: 2.5rem;
  }
}

/* Add scale effect when the hero is found */
.found-hero-heading.found {
  transform: scale(1.1);
}

/* Hide the mobile version on larger screens */
.desktop {
  display: none; /* Hide on mobile */
}

.mobile {
  display: block; /* Show on mobile */
}

/* Adjust visibility for larger screens */
@media (min-width: 600px) {
  .mobile {
    display: none; /* Hide on tablet and larger */
  }

  .desktop {
    display: block; /* Show on tablet and larger */
  }
}